name: Deploy MySite to AWS EC2 server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H "${{ secrets.EC2_HOST }}" >> ~/.ssh/known_hosts

      - name: Deploy files to server
        env:
          EC2_USER: ${{ secrets.EC2_USER }}
          EC2_HOST: ${{ secrets.EC2_HOST }}
          WEB_ROOT: ${{ secrets.EC2_WEB_ROOT }}
        run: |
          TARGET_DIR=$WEB_ROOT

          echo "Deploying to $EC2_USER@$EC2_HOST:$TARGET_DIR"

          # connect's to ec2 server
          ssh -i ~/.ssh/id_rsa "$EC2_USER@$EC2_HOST" 

          rsync -avz \
            --delete \
            ./ \
            "$EC2_USER@$EC2_HOST:$TARGET_DIR/"


